*.AppImage
*.buildinfo
*.changes
*.deb
*.dsc
*.log
*.o
*.orig.tar.*
*.pro.user
*.swo
*.swp
*.tar.bz2
*.tar.gz
*.tar.xz
*_metatypes.json
*~
*.moc
moc_*.cpp
moc_*.h
.DS_Store
.qmake.stash
.qtc_clangd/
/AppDir
/Makefile
/extern
/libsf
build/
debian/*.substvars
debian/*-stamp
debian/.debhelper
debian/files
debian/*themestylebrowser*/
debian/substvars
debian/tmp/

/.cache
/.vscode
/bin
/obj
/tmp

#CodeBlocks
themestylebrowser.depend
themestylebrowser.layout

*_test
*_test[1-9]

# Local dev symlinks
examplelib
